
version: '3.8'

services:
   app-prod:
      container_name: instruction-recipes-prod
      build:
        context: .
        dockerfile: Dockerfile
      env_file:
        - .env
      ports:
        - '8080:8080'
      profiles:
        - prod
volumes:
  db-data:
      